<div class="container-fluid alert alert-secondary">
  <div class="row">
    <div class="center">
      <h1 class="alert alert-primary">Welcome to EASY FAST GATEWAY</h1>

      <div class="alert alert-warning spacing" role="alert center" >
        With EASY FAST PAYMENTS GATEWAY B2B payments can be done where transactions are processed between one merchant and another. There will be an increase in the volume of transactions on the e-commerce website and the economy. Payment gateways are the most popular way to process B2B payments.
        <p></p>
        <p></p>
        <h4>Benefits of having a payment gateway are:</h4>
        <p>• Instant payments can be done.</p>
        <p>• The company needn’t worry about the transactions.</p>
        <p>• The company can cut down the cost of database as it wouldn’t
        need to store all the transaction related data in the database. It would only need to store references of the transaction in the company database.</p>
        <p>• Credit-card and debit card payments can be done under one umbrella.</p>
      </div>
    </div>
  </div>
  <br>

    <div class="row">
      <div class="center alert alert-success">
        <h4>LETS GO!!!</h4>
        <div class="center">
          <a href="{{ url_for('registration')}}" class= "btn btn-primary">Sign Up</a>
          <a href="{{ url_for('login')}}" class= "btn btn-primary">Login</a>
        </div>
      </div>
    </div>

</div>
